/*=============== main ===============*/
body{
  background-color: #565555
}
.root{                                                            
  position: absolute;
  left: 50%;
  top: 50px;
  transform: translate(-50%, 0%);

}
.main{
  width: 300px;
  height: 520px;
  margin-left: 10px;
  padding: 5px;
  padding-bottom: 3px;
  border: 1px solid #878787;
  overflow-x: auto;
  border-radius: 0px 0px 5px 5px;
  word-break: break-all;
}


/*=============== login ===============*/
.loginWindow{ 
  width: 300px;
  height: 520px;
  padding: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  background: white;                           
  position: absolute;
  left: 50%;
  top: 50px;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, 0%);
}
.loginTitle{
  font-size: 20px;
  margin-top: 20%;
  margin-left: 20%;
}

.loginInput{
  width: 150px;
  height: 25px;
  font-size: 18px;
  padding: 3px;
  margin-left: 15%;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
}

.logInButton{
  width: 50px;
  height: 34px;
  margin-left: 3px;
  color: white;
  background-color: #878787;
  border: none;
  border-radius: 5px;
  position: relative;
  top: -2px;
  outline: none;
  cursor: pointer;
}
.logInButton:hover{
 background-color: #565555;

}
.logInButton:disabled{
  background-color: #d3d3d3;
  color: white;
}


.validation{ /* <-- login rules*/
  color: grey;
  font-size: 12px;
  margin-left: 15%;
}


/*=============== chat-window -header ===============*/
.mainHeader{
  width: 300px;
  height: 40px;
  background: white;
  margin-top: 0;
  margin-left: 10px;
  color:#252c24;
  padding-top: 15px;
  padding-left: 10px;
  position: relative;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.chatUserName{
  right: 100px;
  color: #252c24;
  position: absolute;
}

.logOutButton{
  width: 60px;
  height: 25px;
  color: white;
  background-color: #878787;
  border: none;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  outline: none;
  cursor: pointer;
}
.logOutButton:hover{ 
  background-color: #565555;
}

/*=============== chat-window ===============*/
.main.window{
  background-color: white;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
}

.userName{
  color: #565555;
}

.timestamp{
  color: #d3d3d3;
  font-size: 12px;
  position: relative;
}


/*=============== chat ===============*/
.inputText{
  width: 250px;
  height: 50px;
  font-size: 16px;
  background: white;
  margin-left: 10px;
  margin-top: 5px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  outline: none;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  resize: none;
}

.sendBtn{
  width: 50px;
  height: 55px;
  font-size: 15px;
  color: white;
  background-color: #878787;
  margin-top: 5px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  position: absolute;
  outline: none;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.sendBtn:hover{
  background-color: #565555;
}

